.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 1rem;
  border: 1px solid #ccc;
}

.post-title {
  display: flex;
}

.post-name {
  text-align: left;
  margin-left: 1rem;
}

.post-description {
  margin-left: 1rem;
}